body {
    background-color: #ededed;
}

#main-container {
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    padding: 0;
    background-color: #fff;
}

#welcome-section, #contact {
    padding-left: 15px;
    padding-right: 15px;
}

#welcome-section {
    border-bottom: 1px solid #e7e7e7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('https://res.cloudinary.com/aazibch/image/upload/v1629779374/Project%20Files/Portfolio%20Webpage/about-background-portfolio.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#welcome-section-content {
    max-width: 63rem;
    background: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 5px 8px 2px rgba(0, 0, 0, 0.55);
}

#welcome-section p {
    font-size: 22px;
}

#projects {
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid #e7e7e7;
}

#projects h1 {
    margin-bottom: 25px;
    font-size: 28px;
}

#projects .thumbnail {
    transition: box-shadow 0.3s;
}

#projects .thumbnail:hover {
    -webkit-box-shadow:  0 0 0 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:  0 0 0 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
}

#projects a:hover {
    text-decoration: none;
}

#projects a:focus {
    text-decoration: none;
}

#contact {
    padding-top: 90px;
    padding-bottom: 110px;
}

#contact h1 {
    margin-bottom: 25px;
    font-size: 28px;
}

#email-address {
    font-size: 17px;
    margin-top: 14px;
}

#footer-contact {
    background-color: #424242;
    padding: 14px;
    color: #cccbcd;
}

#footer-contact h1 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 3px;
    margin-left: 2px;
}

#footer-contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer-contact li {
    display: inline;
    padding: 0 4px;
}

#footer-contact a {
    color: #cccbcd;
}

#footer-copyright {
    background-color: #373737;
    padding: 14px 0;
    color: #99979c;
}

#footer-copyright p {
    margin: 5px 0;
}

/* Media Queries */
@media (min-width: 600px) {
    #welcome-section {
        padding-top: 80px;
        padding-bottom: 90px;
    }
}

@media (min-width: 800px) {
    #welcome-section {
        padding-top: 95px;
        padding-bottom: 105px;
    }
}

@media (min-width: 1150px) {
    #welcome-section {
        padding-top: 110px;
        padding-bottom: 120px;
    }
}